:root {
    --primary-color: #14364B;
    --secondary-color: #326789;
    --background-color: #F8F8F8;
    --text-color: #14364B;
    --white-color: #fff;
    --light-gray-color: #666;
    --dark-gray-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Heebo', sans-serif;
    /* background-color: var(--background-color); */
    color: var(--secondary-color);
}

header {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 20px 20px;
    justify-content: space-between;
    align-items:  center; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    margin: 0 100px;
    padding: 20px 0;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    /* margin-left: 100px; */
    /* align-items: center; */
}

.navbar ul li {
    display: inline-block;
    margin-right: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

.navbar ul li a:hover {
    color: var(--secondary-color);
}

.navbar ul li img {
    vertical-align: middle; 
}

.section2 {
    position: relative; 
    display: flex; 
    align-items: center;
    background-color: var(--white-color) ; 
    flex-wrap: wrap;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.judul1 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.judul2 {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-top: 20px;
    margin-bottom: 110px;
}

.col {
    flex-basis: calc(33% - 15px);
    margin-bottom: 20px; 
}

.card {
    border-radius: 5px;
    background-color: var(--background-color);
    height: 485px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h3 {
    margin-top: 0;
    text-align: center;
    color: var(--secondary-color);
}

.card-body p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
}

.card-body button {
    align-self: flex-end;
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-body button a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 13px;
}

.card-body button:hover {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--background-color); 
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-section {
    text-align: center;
}
  
.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
  
.social-links {
    list-style-type: none;
    padding: 0;
}
  
.social-links li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-links li a {
    color: var(--primary-color);
    font-size: 24px;
}
  
.social-links li a:hover {
    color:var(--secondary-color);
}